.container {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px 0;
    padding-bottom: 30px;
}

.item {
    position: relative;
    flex: none;
    margin: 0 20px 0;
    z-index: 0;
}

.link:link,
.link:visited {
    position: absolute;
    color: inherit;
    display: flex;
    font-size: 2em;
    top: 0.67em;
    right: 0;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding: 7px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.link:hover {
    background: #f2f3f5;
}
